html,body{
    width:100%;
    height:100%;
}
#top{
    height:28px;
    border-bottom:2px solid #e8e8e8;
    background:#f4f4f4;
}
#top .top{
    height:28px;
    width:1080px;
}
#top .top .login{
    font:12px/28px "";
    float:right;
    color:#555555;
    position:relative;
}
#top .top .login #denglu{
    color:#555555;
}
#top .top .login a{
    display:inline-block;
    height:20px;
    font:12px/20px "";
}
#top .top .login a:hover{
    text-decoration: underline;
}
#top .top .login #zhuce{
    color:#ff5482;
}
#top .top .login span{
    font:16px/28px "";
}
#top .top .login #lianxi{
    display:inline-block;
}

#top .top .login #guanzhu{

    display:inline-block;
}

#top .top .login #ption_1{
    background:#fff;
    border:1px solid #000;
    position:absolute;
    left:180px;
    top:20px;
    border-top:0;
    display:none;
}
#top .top .login #ption_2{
    background:#fff;
    border:1px solid #000;
    position:absolute;
    left:198px;
    top:21px;
    border-top:0;
    z-index:1;
    display:none;
}



#logo{
    height:90px;
}
#logo .logo{
    height:90px;
    width:1080px;
}
#logo .logo div{
    float:right;
    margin-top:30px;
}
#logo .logo div a{
    display:inline-block;
    margin-left:10px;
}


#nav{
    height:38px;
    background:#ff647c;
}
#nav .nav{
    width:1080px;
    height:38px;
}
#nav .nav ul{
    float:left;
}
#nav .nav ul li{
    float:left;
    width:100px;
    height:38px;
}
#nav .nav ul li a{
    display:block;
    width:100px;
    height:38px;
    font:14px/38px "";
    text-align:center;
    color:#fff;
}
#nav .nav ul li a:hover{
    background:#f34660;
}
#nav .nav ul .first{
    background:#f34660;
}
#nav .nav #json_fl{
    float:right;
    width:70px;
    height:38px;
    margin-right:30px;
    position: relative;
}

#nav .nav #msg{
    text-align: right;
    line-height: 30px;
    left: -175px;
    top: 33px;
    width: 490px;
    background-color: #f9f9f9;
    position:absolute;
    display:none;
    float:left;
    z-index:5;
}
#nav .nav #msg_l{
    width:110px;
    float:left;
    z-index:6;
}
#nav .nav #msg_l li{
    padding-right:30px;
    width:80px;
    height:34px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    font-size:12px;
}
#nav .nav #msg_l li:hover{
    color:#f34660;
}
#nav .nav #msg_r{
    margin-left:1px;
    float:left;
    width:373px;
    background:#fff;
    padding-right:0px;
    border:1px solid #e0e0e0;
    height:541px;
    z-index:6;
}
#nav .nav #msg_r li{
    text-align: center;
    padding: 15px 14px 0 14px;
    float: left;
    width: 64px;
    height: 93px;
    border-right: 1px dashed #ececec;
    border-bottom: 1px dashed #ececec;
    overflow: hidden;
    cursor: pointer;
}
#nav .nav #msg_r li p{
    height:24px;
    font:12px/24px "";
}
#nav .nav #msg_r li p:hover{
    color:#f34660;
}

#nav .nav #fenlei{
    display:block;
    font:12px/38px "";
    color:#fff;
}
#nav .nav form{
    float:right;
    margin-top:2px;
    position:relative;
}
#nav .nav form #search{
    width:195px;
    height:26px;
    border:1px solid #eee;
    padding:0 10px
}
#nav .nav form #s1{
    position:absolute;
    height:28px;
    top:1px;
    right:-1px;
    cursor: pointer;
}
#nav .nav form #s2{
    position:absolute;
    height:28px;
    top:1px;
    right:-1px;
    cursor: pointer;
    display:none;
    z-index:2;
}
#main_content {
    width: 100%;
    min-height: 500px;
    height: auto!important;
    height: 500px;
    background: #F6F4F1;
    padding-top: 30px;
}

#main_content:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.your_order {
    background: #fefefe;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 1px 2px #d1d1d1;
    margin: 0 auto;
    position: relative;
    width: 1002px;
    height: 300px;
    min-height: 300px;
    height: auto!important;
}
.your_order:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.yo_title {
    position: relative;
    height: 70px;
    background: #f9f9f9;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;
    margin: 0 0 10px 0;
}
.yo_title h1 {
    margin: 0 0 0 30px;
    line-height: 70px;
    color: #a7a7a7;
    text-shadow: 0 -1px 0 #fff;
}
.yo_title i {
    position: absolute;
    right: 30px;
    top: 0;
    background: url('../images/body/cart_merge.png') no-repeat 500px 500px;
    width: 340px;
    height: 70px;
    display: inline-block;
    background-position: 0 -183px;
}
.chooseyourAddress {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    line-height: 46px;
    margin: 10px 22px;
}
.chooseyourAddress a {
    font-weight: 400;
    color: #999;
    margin-left: 15px;
    font-size: 12px;
}
.chooseyourAddress a:hover {color: #2a9ad2;}
.addAddress {
    width: 952px;
    height: 140px;
    padding: 10px 25px;
    overflow-y: auto;
}
.ad_address li {
    float:left;
    display: inline-block;
    border: 3px dashed #eee;
    padding: 7px;
    box-shadow: none;
    position: relative;
    margin: 5px 13px;
    font-size: 13px;
    width: 270px;
    height: 110px;
    overflow: hidden;
    border-radius: 3px;

    color: #000;
}
.ad_address li a {
    font: 18px/110px "";
    color: #999;
    width: 100%;
    height: 110px;
    display: inline-block;
    text-align: center;
}
/*.changeBorder {
    border-color: #2a9ad2;
}*/
.cart_list {
    padding: 20px;
    position: relative;
    height: 800px;
    width: 962px;
}
.no_goods{
    border: 2px solid #a0a0a0;
    border-top: 1px solid #ddd;
    width: 962px;
    height: 90px;
    min-height: 90px;
    background: #fff;
    padding-top:40px;
    text-align:center;
    font:20px/40px "";
}
.table_style {
    border: none;
    border-top: 1px solid #ddd;
    width: 962px;
    height: 90px;
    min-height: 90px;
    border-collapse: collapse;
    border-spacing: 0;
    /*background: red;*/
}
.table_style:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.table_style thead {
    background: #e0e0e0;
    text-align: left;
    vertical-align: bottom;
}
th {
    font-weight: bold;
    padding: 6px 4px;
    font-size: 12px;
    margin: 0;
    overflow: hidden;
    border:none;
}
.table_style tbody {
    width: 962px;
    height: 80px;
    min-height: 80px;
    height: auto!important;
}
.table_style tbody .event_entry {
    background: #f4f4f4;
    border: 1px solid #d8d8d8;
    width: 960px;
    height: 49px;
}
.event_entry td {
    padding: 12px;
}
.event-remark {float: right;}
.event-remark span {color: #999;}
.event-remark input{
    height:24px;
    padding: 2px 8px;
    display: inline-block;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 2px;
    width: 250px;
    font-size: 10px;
    outline: none;
}
.table_style tbody .list {
    height: 100px;
    border: 1px solid #eee;
    vertical-align: top;
    /*background: pink;*/
}
.list td {text-align: center; border: none; height: 70px; padding-top: 20px; padding-bottom: 10px;}
.no_word {
    height: 20px;
}
.img_style {
    border: 1px solid #eee;
    padding: 3px;
    display: block;
    float: left;
    vertical-align: top;
    margin-right: 10px;
    cursor: pointer;
}
.td_width {width: 280px;}
.hover_brand_name {
    display: block;
    float: left;
    line-height: 20px;
    /*margin: 0 20px 0 0;*/
    overflow: hidden;
    color: #3e3e3e;
    font-size: 12px;
    width: 100px;
}
.hover_brand_name:hover{color: #f00;}
.your_number {
    width: 76px;
    height: 27px;
    display: inline-block;
    font-size: 0;
    margin: -20px 5px 0 0;
    color: #777;
}
.your_number .number_yourGoods {
    font-size: 13px;
    display: inline-block;
    width: 30px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 0;
    background: #fff;
    color: #777;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
}


.your_number span {
    background: #EAEAEA;
    width: 20px;
    cursor: pointer;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    color: #999;
    border: 1px solid #ccc;
    display: inline-block;
    height: 25px;
    font-size: 12px;
}

.your_number .cut {
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.your_number .add {
    border-left: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.total {
    background: #fafafa;
    padding: 0 0 0 25px;
    position: relative;
    margin-top: 15px;
    border: 1px solid #eee;
    width: 936px;
    height: 110px;
}
.allprice_small, .allPrice, .to_order {
    line-height: 35px;
    text-align: right;
    width: 935px;
    height: 35px;
}
.allprice_small span, .allPrice span {
    width: 114px;
    display: inline-block;
    line-height: 35px;
    margin-right: 15px;
}
.total .to_order {
    height: 40px;
    font-weight: 700;
}
.to_order span {
    width: 114px;
    display: inline-block;
    line-height: 35px;
    font-size: 26px;
    margin-right: 15px;
    color: #ff4975;
}
.chooseyourAddress span {
    margin-left: 30px;
    color: #aaa;
    font-size: 12px;
    font-weight: 400;
}
.account-list {
    padding: 10px 30px;
    width: 942px;
    height: 226px;
}
.cash_balance {
    width: 830px;
    height: 58px;
    padding: 30px 0 20px 60px;
}
.cash_balance li {
    float: left;
    width: 210px;
    height: 52px;
    cursor: pointer;
    display: inline;

    margin-bottom: 18px;
    margin-right: 14px;
    padding-left: 10px;
}
.cash_balance li input {float: left; height: 13px; margin-top: 15px; width: 13px;}
.cash_balance li .deposit {
    border: 1px solid #e6e6e6;
    cursor: pointer;
    display: inline;
    float: left;
    height: 40px;
    margin-left: 9px;
    padding: 1px;
    padding-left: 10px;
    width: 162px;
}
.confirm {
    border: 3px solid #ff5482;
    border-radius: 5px 5px 0;
    margin: 10px 30px 30px 240px;
    text-align: right;
    position: relative;
    width: 666px;
    height: 106px;
}
.pay-confirm {
    width: 636px;
    height: 39px;
    padding: 10px 15px 5px;
    text-align: right;
    font-size: 26px;
    color: #ff5482;
}
.use {
    margin-right: 15px;
    font-size: 12px;
    color: #999;
    text-align: right;
}
.use .choose_show {
    font-weight: 700;
    color: #000;
}
.ad_address .new_address {
    display: inline-block;
    box-shadow: 0 0 4px #a6a6a6;
    border: 3px solid #ccc;
    position: relative;
    padding: 10px;
    margin: 5px 13px;
    font-size: 13px;
    width: 250px;
    height: 110px;
    overflow: hidden;
    vertical-align: top;
    border-radius: 3px;
    color: #000;
}
.middel_conte {font-size: 13px; width: 270px; height: 103px;}
.address_nam {
    width: 240px;
    height: 30px;
    margin: 8px 15px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    color: #000;
}
.get_name {
    font-size: 20px;
}
.phone {margin-left: 15px; font-size: 15px; color: #888;}
.default_style {display: inline-block; color: #d35435; margin-left: 10px;}
.show_user_address {padding: 0 15px; height: 38px; overflow: hidden;color: #aaa; font-size: 13px; width: 240px; }
.address_footer {width: 210px; height: 19px; padding: 4px 15px; font-size: 13px;}
.address_footer .remove {
    font:14px/19px "";
    color:#000;
    width:30px;
    height:19px;
    float:right;
}
.box {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    overflow: hidden;
    border-top: 40px solid #fff;
    border-right: 40px solid #ee8e76;
    background: #ee8e76;
}
.submit-order {
    width: 636px;
    height: 42px;
    background: #f3f3f3;
    padding: 5px 15px;
    text-align: right;
}
.action_write_address {
    height: 42px;
    line-height: 42px;
    text-align: right;
    color: #f00;
}
.show_usreName {margin: 2px 0; color: #555; width: 638px; height: 18px;}
.al_right {float: right;}

.sure {
    background: #ff5482;
    border-radius: 0 0 5px 5px;
    bottom: -41px;
    color: #fff;
    height: 38px;
    line-height: 38px;
    position: absolute;
    right: -3px;
    text-align: center;
    width: 150px;
    font-size: 16px;
}
/*
.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 9999999;
}

.modal_frame {
    width: 290px;
    height: 130px;
    left: 38%;
    top: 305px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    z-index: 2999999999;
    font-size: 13px;
    color: #f00;
    text-align: center;
    line-height: 130px;
    position: fixed;
}
.close {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 15px;
    height: 15px;
    background: url('../images/body/close.png') no-repeat 0 0;
    cursor: pointer;
}
.close:hover {
    background: url('../images/body/close1.png') no-repeat 0 0;
}
*/




/*****form表单的样式****/
.form_list {
    background:#fff;
    box-shadow: 1px 1px 4px 4px #eee ;
    padding:10px 30px;
    width: 710px;
    height: 430px;
    margin: 10px 20px 20px 10px;
    z-index:200;
    display:none;
    position:fixed;
    left:20%;
    top:20%;
}
.form_main {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
    width: 770px;
    height: 397px;
}
.fm_title {width: 770px; height: 21px; margin-bottom: 15px; font-size: 13px; color: #adadad;}
.fm_color {color: #4892cf; font-size: 14px;}
/*获取地址*/
.form_main2 {
    margin-bottom: 15px;
    font-size: 13px;
    width: 770px;
    height: 32px;
}
.formm_title {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: 6em;
    margin: 0 2em 0 0;
}
.formm_sign {
    color: red;
    font-size: 14px;
    margin-left: 6px;
}
.detail_address {
    margin-bottom: 35px;
    font-size: 13px;
    width: 770px;
    height: 96px;
}
#formm_content {
    width: 374px;
    height: 96px;
    font-size: 13px;
    line-height: 1.5em;
    vertical-align: top;
    display: inline-block;
    padding: 0.5em 0.6em;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    outline: none;
}
.zip_code {
    margin-bottom: 15px;
    font-size: 13px;
    width: 770px;
    height: 30px;
}
.zip_2 {
    width: 146px;
    height: 15px;
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    outline: none;
}
.username {
    margin-bottom: 15px;
    font-size: 13px;
    width: 770px;
    height: 30px;
}
.default_block {
    width: 662px;
    height: 18px;
    margin: 1.5em 0 0 9em;
}
.default_content {
    margin: 0.5em 0;
    display: block;
    width: 662px;
    height: 32px;
}
#default_cot {
    display: inline-block;
    vertical-align: middle;
}
.confirm_finish {
    width: 662px;
    height: 29px;
    margin: 1.5em 0 0 9em;
}
.cf_bnt {
    padding: 6px 17px;
    display: inline-block;
    background: #ff4965;
    border-radius: 2px;
    color: #FFF;
    border: 1px solid #ff4965;
    text-shadow: 0 -1px 0 #ff4965;
    font-size: 13px;
}
.back{
    width:100%;
    height:100%;
    background:#000;
    opacity:0.3;
    z-index:100;
    display:none;
    position:fixed;
    left:0;
    top:0;
}






















#foot{
    height:38px;
    border-top:3px solid #ff5482;
    background:#555555;
    margin-top:0px;
}
#foot .foot{
    width:1080px;
    height:38px;
}
#foot .foot ul{
    width:780px;
    height:25px;
    padding-top:13px;
    margin:0 auto;
}
#foot .foot ul li{
    float:left;
    height:12px;
    padding:0 10px;
    border-right:1px solid #dddddd;
}
#foot .foot ul li a{
    color:#ddd;
    display:block;
    font: 12px/12px "";
}
#foot .foot ul .last{
    border:0;
}
#bottom{
    height:102px;
    text-align:center;
}
#bottom p{
    margin-top:15px;
}

.toTop {
    position: fixed;
    width: 70px;
    height: 177px;
    background: #fff;
    bottom: 80px;
    right: 10px;
    border: 1px solid #e6e6e6;
    border-top: none;
    z-index: 999;
}
.toTop >ul >li {
    width: 70px;
    height: 27px;
    line-height: 27px;
    padding: 8px 0;
    text-align: center;
    border-top: 1px solid #e6e6e6;
    font-size: 12px;
    position: relative;
    cursor: pointer;
}
.toTop >ul >li .first {
    display: block;
    cursor: pointer;
}
.toTop >ul >li .secound{
    display: none;
    color: #fff;

}
.toTop >ul >li .shoppingCar_top {
    width: 350px;
    height: 240px;
    background: #fff;
    border: 1px solid #FF5482;
    position: absolute;
    top: -97px;
    left: -352px;
    z-index: 998;
}
.toTop >ul >li .shoppingCar_top .shoppingCarTop {
    width:350px;
    height: 31px;
    text-align: center;
    line-height: 31px;
    color: #FF5482;
    font-size: 12px;
    background-color: #FFF9FB;
    border-bottom: 1px solid #E3E3E3;
}
.toTop >ul >li .shoppingCar_top .shoppingCarCenter {
    width: 350px;
    height: 160px;
    border-bottom: 1px solid #E3E3E3;
    font-size: 16px;
    color: #99918C;
    line-height: 160px;
    text-align: center;
}
.toTop >ul >li .shoppingCar_top .shoppingCarFooter {background-color: #FFF9FB;}
.toTop >ul >li .shoppingCar_top .shoppingCarFooter p {
    width: 113px;
    line-height: 47px;
    text-align: center;
    font-size: 12px;
    color: #666;
    float: left;
}
.toTop >ul >li .shoppingCar_top .shoppingCarFooter p span {font-size: 14px; color: #E53392;}
.toTop >ul >li .shoppingCar_top .shoppingCarFooter .buy_car {
    width: 118px;
    line-height: 35px;
    background-color: #FF5482;
    border-radius: 10px;
    float: left;
    margin-left: 100px;
    margin-top: 6px;
    font-size: 14px;
    padding-left: 3px;
}
.toTop >ul >li .app {
    position: absolute;
    left: -184px;
    top: -62px;
    width: 160px;
    height: 220px;
    padding: 10px;
    border: 2px solid #ff4965;
    background: #fff;
    z-index: 997;
}
.toTop >ul >li .app {
    text-align: center;
    color: #333;
    line-height: 16px;
    font-size: 13px;
}












